.Dictionary {
  max-width: 350px;
  margin: 50px auto;
  background: #e34b62;
  color: white;
  border-radius: 34px;
}

.Dictionary .word {
  font-weight: 700;
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

.Dictionary .partOfSpeech {
  font-size: 18px;
}

.Dictionary .translation {
  font-size: 16px;
  font-weight: 600;
}

.Dictionary .wordDetails {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.Dictionary .heading {
  font-weight: 900;
}

.Dictionary .definition {
  font-weight: 300;
}

.Dictionary .sentence {
  font-style: italic;
  font-weight: 200;
  font-family: "Source Serif Pro", serif;
}
