.Dictionary {
  max-width: 350px;
  margin: 50px auto 20px;
  background: #e34b62;
  color: white;
  border-radius: 34px;
}

.Dictionary .heading {
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.Dictionary .text {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.Dictionary .sentence {
  font-style: italic;
  font-weight: 300;
  font-family: "Source Serif Pro", serif;
}
