.Dictionary {
  max-width: 350px;
  margin: 0 auto;
  background: #e34b62;
  color: white;
}

.Dictionary .word {
  font-weight: 600;
  font-size: 20px;
}
.Dictionary .definition {
  font-style: italic;
}
